/* Vector */

.flowerleft{
position: absolute;
left: 35.05%;
right: 37.85%;
top: 37.67%;
bottom: -133.32%;

background: #97C9CE;
transform: matrix(-0.65, 0.77, -0.74, -0.65, 0, 0);
}
.flowerright{
    position: absolute;
left: 43.28%;
right: 17.67%;
top: 87.62%;
bottom: -142.81%;

background: #1A4143;
transform: matrix(-0.98, 0.23, -0.21, -0.97, 0, 0);
}

.a{
    /* Vector */


position: absolute;
left: 44.53%;
right: 45.33%;
top: 41.98%;
bottom: 52.77%;

background: #FFFFFF;
}
.air{
    /* AIR BEAN */


position: absolute;
width: 257px;
height: 47px;
left: 58px;
top: 346px;

font-family: 'Rufina';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 52px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.drone{
    /* DRONEDELIVERED COFFEE */


position: absolute;
width: 257px;
height: 19px;
left: 58px;
top: 396px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 11px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.3em;

color: #FFFFFF;
}
.airbeanfront{
    /* /landing */


position: relative;
width: 375px;
height: 667px;

background: #38846D;
 /* header */


 position: absolute;
 width: 667px;
 height: 143px;
 left: 375px;
 top: 0px;
 


/* header */


position: absolute;
width: 667px;
height: 169px;
left: 0px;
top: 667px;



}
.sides{
    /* Vector */


position: absolute;
left: -25.65%;
right: 87.28%;
top: 357.12%;
bottom: -388.87%;

background: #2F8C91;
transform: matrix(0.98, -0.23, 0.21, 0.97, 0, 0);
/* Vector */


position: absolute;
left: -9.13%;
right: 82.05%;
top: 387.29%;
bottom: -517.98%;

background: #BAE3DD;
transform: matrix(0.65, -0.77, 0.75, 0.65, 0, 0);
}
