.backgroundOrange {
  background-color: #E5674E;
  color: white;
}

.backgroundBeige {
  background-color: #F3E3E0;
  color: #2F2926;
}

.backgroundBlack {
  background-color: #2F2926;
  color: white;
}

.backgroundLandingGreen {
  background-color: #39846D;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  width: 375px;
  Height: 655px;
}

.App {
  position: relative;
  height: 655px;
  overflow: scroll;
  overflow-x: hidden;
}

.App, #root {
  min-height: 100%;
}

.noOverflowScroll {
  overflow: hidden;
}

nav {
  color: white;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 655px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 2em;

  display: none;
}

.openNav {
  display: flex;
}

.navBtn {
  background: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  position: absolute;
  left: 10px;
  top: 10px
}

.hidden {
  display: none;
}

.close {
  z-index: 5 !important;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px; 
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  border-top: 1px solid rgb(68, 68, 68);
  left: 43%;
  bottom: 0;
  width: 15%;
  height: 0px;
}

nav a:hover {
  color: #39846D;
  text-decoration: underline;
  cursor: pointer;
}

/* Comes from NavLink automatically, applied to the current route:s link */
.active {
  cursor: default;
  color: #2c5247;
}

.cart {
  display: none;

  position: absolute;
  width: 355px;
  height: 595px;
  background: white;
  margin: 10px;
  margin-top: 50px;
  border-radius: 4px;
  z-index: 4;
}

.openCart {
  display: unset;
}

.cartBtn {
  background: #2F2926;
  color: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  position: absolute;
  right: 10px;
  top: 10px;
}

.pil {
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: -5px;
  z-index: 3;
}

.cartTotal {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.orderButtonAnimation {
  transform: scale(1.3);
}

.cartTotal {
  position: absolute;
  right: 5px;
  top: 3px;
  margin: 0;
  z-index: 3;
  background: #E5674E;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.cartList {
  height: 360px;
  padding: 0;
  list-style: none;
  overflow: scroll;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.cartTitle {
  margin: 0;
  font-size: 1.6em;
}

.cartPrice {
  margin: 0;
  margin-top: 5px;
}

.cartQuantity {
  text-align: center;
  margin: 0;
}

.cartBottom {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
  position: absolute;
  bottom: 40px;
}

.cartOrder {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 10px auto;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: black;
  color: white;
  padding: 10px 0px;
  border-radius: 20px;
  font-size: 1.1em;
  cursor: pointer;
}

.menuInfo {
  min-height: 655px;
  position: relative;
}

.menuList {
  padding: 0;
  padding-bottom: 70px;
  list-style: none;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.menuPlus {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  margin-left: 15px;
}

.menuItemText {
  width: 100%;
  margin-left: 20px;
}

.menuTitle {
  margin: 0;
  font-size: 1.4em;
}

.menuDescription {
  margin: 0;
  font-size: 1em;
}

.menuPrice {
  margin: 0;
  font-size: 1.3em;
  white-space: nowrap;
}

.footer {
  position: absolute;
  bottom: 0;
}

.transparentBlackBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.198);
  z-index: 2;
}

.menuItem {
  background: none;
  transition: background 0.2s ease;
}

.menuItem:hover{
  background: #E5674E;
}

.menuItem:hover h2 {
  text-decoration: underline;
}

.menuItem img {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.menuItem:hover img {
  transform: scale(1.2);
}

.Sides1{
  position: absolute;
  left: 0;
  /* top: 0;
  transform: rotate(0deg);
  transition: all 1s ease; */
}

/* .Sides1Transition {
  top: 0px;
  transform: rotate(90deg) translate(-150%, -37%);
  height: 375px;
} */

.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.Sides2{
  position: absolute;
  right: 0;
  /* top: 0;
  transition: all 1s ease; */
}

.background-status{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #E5674E;
}
  
.button-status{
  width: 184px;
  background: #FFFFFF;
  color: #2F2926;

  background: #FFFFFF;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  transition: all 0.2s ease;
}

.button-status:hover{
  background: #ebebeb;
  text-decoration: underline;
}
  
.order{
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.drone {
  animation: droneHovering 5s infinite;
}
  
.timer{
  font-size: 22px;
  line-height: 180%;
  text-align: center;
  color: #FFFFFF;
}
  
.ordernum {
  width: 279px;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

/* TEXTS, * = all text exept text that are specified under */ 

* {
  font-family: 'PT Serif', serif;
}

.menuDescription, .cartPrice, .about p, .about li  {
  font-family: 'Work Sans', sans-serif;
}

.Cortado{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}

.aboutUsText {
  padding: 10px;
}

/* Make animation that goes between negative and positive transform: translateY() positions */
@keyframes droneHovering {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}