.backgroundOrange {
  background-color: #E5674E;
  color: white;
}

.backgroundBeige {
  background-color: #F3E3E0;
  color: #2F2926;
}

.backgroundBlack {
  background-color: #2F2926;
  color: white;
}

.backgroundLandingGreen {
  background-color: #39846D;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 375px;
  Height: 655px;
}

nav {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  color: #39846D;
  text-decoration: underline;
  cursor: pointer;
}

/* Comes from NavLink automatically, applied to the current route:s link */
.active {
  cursor: default;
  color: #2c5247;
}

.cartList {
  padding: 0;
  list-style: none;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.cartTitle {
  margin: 0;
  font-size: 1.6em;
}

.cartPrice {
  margin: 0;
  margin-top: 5px;
}

.cartQuantity {
  text-align: center;
  margin: 0;
}