.backgroundOrange {
  background-color: #E5674E;
  color: white;
}

.backgroundBeige {
  background-color: #F3E3E0;
  color: #2F2926;
}

.backgroundBlack {
  background-color: #2F2926;
  color: white;
}

.backgroundLandingGreen {
  background-color: #39846D;
  color: white;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  width: 375px;
  Height: 655px;
}

.App {
  position: relative;
  height: 655px;
  overflow: scroll;
  overflow-x: hidden;
}

.App, #root {
  min-height: 100%;
}

.noOverflowScroll {
  overflow: hidden;
}

nav {
  color: white;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 655px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 2em;

  display: none;
}

.openNav {
  display: flex;
}

.navBtn {
  background: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  position: absolute;
  left: 10px;
  top: 10px
}

.hidden {
  display: none;
}

.close {
  z-index: 5 !important;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px; 
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  border-top: 1px solid rgb(68, 68, 68);
  left: 43%;
  bottom: 0;
  width: 15%;
  height: 0px;
}

nav a:hover {
  color: #39846D;
  text-decoration: underline;
  cursor: pointer;
}

/* Comes from NavLink automatically, applied to the current route:s link */
.active {
  cursor: default;
  color: #2c5247;
}

.cart {
  display: none;

  position: absolute;
  width: 355px;
  height: 595px;
  background: white;
  margin: 10px;
  margin-top: 50px;
  border-radius: 4px;
  z-index: 2;
}

.openCart {
  display: unset;
}

.cartBtn {
  background: #2F2926;
  color: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  position: absolute;
  right: 10px;
  top: 10px
}

.cartTotal {
  position: absolute;
  right: 5px;
  top: 3px;
  margin: 0;
  z-index: 3;
  background: #E5674E;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
}

.cartList {
  height: 360px;
  padding: 0;
  list-style: none;
  overflow: scroll;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.cartTitle {
  margin: 0;
  font-size: 1.6em;
}

.cartPrice {
  margin: 0;
  margin-top: 5px;
}

.cartQuantity {
  text-align: center;
  margin: 0;
}

.cartBottom {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
  position: absolute;
  bottom: 40px;
}

.cartOrder {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 10px auto;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: black;
  color: white;
  padding: 10px 0px;
  border-radius: 20px;
  font-size: 1.1em;
  cursor: pointer;
}

.menuInfo {
  min-height: 655px;
  position: relative;
}

.menuList {
  padding: 0;
  padding-bottom: 55px;
  list-style: none;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.menuPlus {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  margin-left: 15px;
}

.menuItemText {
  width: 100%;
  margin-left: 20px;
}

.menuTitle {
  margin: 0;
  font-size: 1.4em;
}

.menuDescription {
  margin: 0;
  font-size: 1em;
}

.menuPrice {
  margin: 0;
  font-size: 1.3em;
  white-space: nowrap;
}

.footer {
  position: absolute;
  bottom: 0;
}

.about {
  padding: 10px;
  padding-top: 40px;
}

.transparentBlackBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.198);
  z-index: 1;
}

.background-status{
position: relative;
width: 375px;
height: 655px;
background: #E5674E;
}

.drone {
position: absolute;
width: 216.29px;
height: 119.06px;
left: 80px;
top: 139px;
}

.button-status{
  position: absolute;
  width: 184px;
  height: 55px;
  left: 98px;
  top: 530px;
  
  background: #FFFFFF;
  
  font-family: 'PT Serif';
font-style: normal;


align-items: center;
text-align: center;
color: #2F2926;
}

.order{
  position: absolute;
  width: 279px;
  height: 125px;
  left: 48px;
  top: 299px;
  
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;

}

.timer{
  position: absolute;
  width: 279px;
  height: 37px;
  left: 48px;
  top: 424px;
  
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 180%;
  
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}

.ordernum {
position: absolute;
width: 279px;
height: 37px;
left: 48px;
top: 62px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
display: flex;
align-items: center;
text-align: center;
color: rgba(255, 255, 255, 0.7);
}

.h1:hover, h2:hover,  li:hover{
  background: #E5674E;
}

.sides1{
  position: right;
  right: 50px;
  
}

.airbeanfront{
  position: relative;
  width: 350px;
  height: 600px;
  background: #38846D;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

  .sides2{
      position: left;
     left: 50px;
  }

  /* TEXTS, * = all text exept text that are specified under */ 

  * {

    font-family: 'PT Serif', serif;
  }

  .menuDescription, .cartPrice, .about p, .about li  {
    font-family: 'Work Sans', sans-serif;
  }

